<div class="container">
  
  <ol>
    <%@post.each do |p| %>
    <p><li><a href="/post/<%= p.id %>"><%= p.post_title %></a> (<%= p.post_link %>)
      <ul>
        by <a href="/user/<%= p.user_id %>"><%= User.find(p.user_id).username %></a> | <%= time_ago(p.created_at) %> | <%= p.comments.count %> comments
      </ul>
      <% end %>
    </li> 
  </ol>


</div>